.theme-day{
    $right : #F7C9F3;
    $left : #4180F6;
    body{
        background-color: $right;
    }
    .bar{
        background: linear-gradient(to right, $left , $right);
        color: white;
    }
    .mainButton{
        background-color: $right;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    }
    .insidecontent:hover{
        background: #E6BBE2;
        border: 1px dotted #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        
    }
    .buscarContent{
        background-color: #E6E6E6;
    }
    .seeMore{
        background: $left;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        .insidecontent:hover{
            background: #3A72DB;
            border: 1px solid #4C2F99;
            box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        }
    }
    .own:hover{
        border: 1px dotted #110038;
    }
    .theme-list{
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        .theme{
            background: #F0F0F0;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
        .theme:hover{
            background:#FFF4FD;
            
        }
    }
    .content{
        .box, .largeBox{
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        }
    }
}