.theme-day body {
  background-color: #fff4fd;
}
.theme-day .bar {
  background: linear-gradient(to right, #4180F6, #F7C9F3);
  color: white;
}
.theme-day .mainButton {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.theme-day .insidecontent:hover {
  background: #E6BBE2;
  border: 1px dotted #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.theme-day .search {
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  padding-left: 7px;
}
.theme-day .search:focus ~ #buscar {
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.theme-day .search:focus ~ #buscar .lupa {
  content: url("../assets/lupa.svg");
}
.theme-day .buscarContent {
  background-color: #E6E6E6;
}
.theme-day .tags {
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
.theme-day .tags .tag {
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.theme-day .tags .insidecontent:hover {
  background: #DBDBDB;
  border: 1px dotted #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.theme-day .seeMore {
  background: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.theme-day .seeMore:hover {
  background: #3A72DB;
  border: 1px dotted #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.theme-day .own:hover {
  border: 1px dotted #110038;
}
.theme-day .theme-list {
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
.theme-day .theme-list .theme {
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.theme-day .theme-list .theme:hover {
  background: #FFF4FD;
}
.theme-day .content .box, .theme-day .content .largeBox {
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}