@import 'day.css';
@import 'night.css';
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");
#list-result .image, #search-result .image, #list-result .result, #search-result .result {
  width: 280px;
  height: 292px;
  margin: 5px;
}

#list-result .imageLarge, #search-result .imageLarge, #list-result .resultLarge, #search-result .resultLarge {
  width: 570px;
  height: 298px;
  margin: 2px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Chakra Petch", sans-serif;
}
html .box, html .largeBox, body .box, body .largeBox {
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
html .box .bar, html .largeBox .bar, body .box .bar, body .largeBox .bar {
  margin: 2px;
}

a {
  text-decoration: none;
}

main, .content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

#list-result, #search-result {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
#list-result .box, #search-result .box {
  width: 290px;
  height: 300px;
}
#list-result .largeBox, #search-result .largeBox {
  width: 576px;
  height: 300px;
}
#list-result .result .bar, #search-result .result .bar {
  display: none;
}
#list-result .result:hover .bar, #search-result .result:hover .bar {
  border: 1px solid #000;
  margin: auto;
  width: 99%;
  display: inline-block;
  position: relative;
  bottom: 11.5%;
}
#list-result .image, #search-result .image {
  background-image: url("../assets/globe_img.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
}
#list-result .resultLarge .bar, #search-result .resultLarge .bar {
  display: none;
}
#list-result .resultLarge:hover .bar, #search-result .resultLarge:hover .bar {
  border: 1px solid #000;
  margin: auto;
  width: 99%;
  display: inline-block;
  position: relative;
  bottom: 11.5%;
}
#list-result .imageLarge, #search-result .imageLarge {
  background-image: url("../assets/globe_img.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.searchResult {
  display: none;
}

.suggest {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.suggest .suggestResutl {
  width: 285px;
  height: 309px;
  align-content: center;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
.suggest .suggestResutl .upBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}
.suggest .close {
  background-image: url(../assets/close.svg);
  width: 16px;
  height: 16px;
}
.suggest .suggestImage {
  background-image: url("../assets/globe_img.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 280px;
  margin: 2px;
}

.cancel {
  text-decoration: none;
}

.bar {
  width: 100%;
  height: 24px;
  box-shadow: 0 1px 0 0 #110038;
}

.logoContent2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
  position: relative;
  right: 45%;
}
.logoContent2 a {
  margin: 20px;
}
.logoContent2 .logo {
  width: 102.6px;
  height: 64px;
}

.logoContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
}
.logoContent a {
  margin: 20px;
}
.logoContent .logo {
  width: 102.6px;
  height: 64px;
}
.logoContent .butons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
.logoContent .butons .create {
  width: 144px;
  height: 36px;
}
.logoContent .butons .themer {
  width: 162px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.logoContent .butons .themer .select {
  width: 131px;
  height: 36px;
}
.logoContent .butons .themer .select {
  display: flex;
}
.logoContent .butons .themer .select p {
  margin: auto;
}
.logoContent .butons .themer .down {
  width: 36px;
  height: 36px;
  border-left: 1px solid #000;
  background-image: url(../assets/dropdown.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
.logoContent .butons .themer .theme-list {
  width: 169px;
  height: 102px;
  display: none;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
  position: absolute;
  top: 57px;
  cursor: pointer;
}
.logoContent .butons .themer .theme-list .theme {
  display: block;
  margin: auto;
  width: 135px;
  height: 30px;
  border-bottom: 1px solid #000;
  padding-left: 15px;
  padding-top: 6px;
}
.logoContent .butons .themer .theme-list .theme:hover:first-letter {
  text-decoration: underline;
}

.own {
  display: block;
  margin: auto;
  margin-left: 10px;
  padding-top: 7px;
  text-decoration: none;
}

.own:first-letter {
  text-decoration: underline;
}

.mainButton {
  width: 144px;
  height: 36px;
  margin: 0 10px;
  border: 1px solid #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.bar .title {
  padding-left: 5px;
}

.dropdown {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 170px;
}

.subtitle {
  max-width: 1200px;
  min-width: 80vw;
  height: 32px;
  display: flex;
  margin: 20px auto;
  padding-top: 10px;
  padding-left: 10px;
}

.upBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.buscarContent {
  width: 1200px;
  height: 99px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 25px;
}
.buscarContent .buscar {
  border: 2px outset;
  background-color: #FFFAFE;
  width: 102px;
  height: 36px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  cursor: pointer;
}
.buscarContent .buscar .lupa {
  content: url("../assets/lupa_inactive.svg");
}
.buscarContent .search {
  width: 1057px;
  height: 48px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: center;
}

.tags {
  width: 1200px;
  display: none;
}
.tags .tag {
  margin: 11px;
  width: 1057px;
  height: 36px;
  cursor: pointer;
}
.tags .tag .insidecontent {
  height: 20px;
  padding: 7px;
  text-align: left;
}

.insidecontent {
  text-align: center;
}

.seeMore {
  width: 81px;
  height: 34px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  position: relative;
  bottom: 20%;
  left: 5%;
  cursor: pointer;
}

.logoContent .themer-list {
  width: 169px;
  height: 102px;
}
.logoContent .themer-list .theme {
  width: 150px;
  height: 36px;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: center;
}

.message {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}
.message .title {
  font-size: 16px;
  line-height: 22px;
}
.message .instructionsContent {
  width: 518px;
  height: 190px;
  font-family: ChakraPetch-Regular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  font-family: ChakraPetch-Regular;
}

.camera {
  display: none;
  margin: auto;
  width: 920px;
  height: 548px;
}
.camera .cam {
  margin: 1% 2%;
  height: 440px;
}
.camera .cam video, .camera .cam img {
  border: solid;
  background: black;
  width: 100%;
  height: 443px;
  border: 1px solid #979797;
}
.camera .cam .uploadInfo {
  width: 100%;
  padding-top: 100px;
  height: 343px;
  display: none;
  background-color: white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
.camera .cam .uploadInfo .globe {
  width: 48px;
  height: 48px;
  border: none;
  background: white;
  padding-left: 46%;
  margin-left: 10px;
}
.camera .cam .uploadInfo .uploading {
  font-family: ChakraPetch-Bold;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}
.camera .cam .uploadInfo .uploadBar {
  width: 327px;
  height: 24px;
  margin: auto;
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
}
.camera .cam .uploadInfo .uploadBar .section {
  width: 10px;
  height: 20px;
  margin: 2px 0px 0px 2px;
  display: inline-block;
}
.camera .cam .uploadInfo .minutes {
  font-family: ChakraPetch-Regular;
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}
.camera .cam .uploadInfo .minutes span {
  text-decoration: line-through;
}
.camera .cam .uploaded {
  display: none;
  width: 100%;
  height: 100%;
}
.camera .cam .uploaded .grouped {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.camera .cam .uploaded .grouped .uploadedGif {
  margin: 10px;
  width: 371px;
  height: 196px;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
.camera .cam .uploaded .grouped .uploadedGif #uploadedGif {
  width: 371px;
  height: 196px;
}
.camera .cam .uploaded .grouped .menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.camera .cam .uploaded .grouped .menu .largeButton {
  vertical-align: middle;
  cursor: pointer;
}
.camera .cam .uploaded #finish {
  position: relative;
  left: 80%;
}
.camera .cam .uploaded .largeButton {
  width: 246px;
  height: 31px;
  padding-left: 10px;
  padding-top: 5px;
  background: #FFF4FD;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.camera .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  margin: 20px;
}
.camera .buttons .principal {
  display: flex;
  position: relative;
  bottom: 4px;
}
.camera .buttons .principal .cameraIcon {
  margin: 0;
  width: 36px;
  height: 36px;
}
.camera .buttons .principal .capture {
  margin: 0;
  width: 144px;
  height: 36px;
}
.camera .buttons .recorded {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}
.camera .buttons .recorded #repetir, .camera .buttons .recorded #subir {
  position: relative;
  left: 430px;
}
.camera .buttons .recorded .timer {
  display: none;
  width: 124px;
  height: 36px;
  margin: auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.content .createGif {
  display: block;
  width: 684px;
  height: 386px;
  margin: auto;
}
.content .createGif .message .icon {
  margin-top: 5%;
}
.content .createGif .message .instructions {
  margin-top: 3%;
}
.content .createGif .buttons {
  position: relative;
  margin: 20px;
  top: 5%;
}
.content .ownGifs {
  display: inline-block;
  margin: auto;
}
.content .ownGifs .myGifs {
  display: block;
  margin: auto 10%;
}
.content .ownGifs .myGifs .myGif {
  margin: 10px;
}
.content .camera .cam .video #gif {
  display: none;
}