.theme-night{
    $right : #EE3EFE;
    $left : #2E32FB;
    a{
        color: white;
    }
    .box{
        margin: auto;
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    }
    body{
        background-color: darkblue;
    }
    .bar{
        background-image: linear-gradient(to right, $left , $right);
        color: white;
    }
    .mainButton{
        background-color: $right;
        color: white;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    }
    .insidecontent:hover{
        background: #CE36DB;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        
    }
    .search{
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        padding-left: 7px;
    }
    .buscarContent{
        background-color: #B4B4B4;
    }
    .tags{
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
        .tag{
            background: #CCCCCC;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
        .insidecontent:hover{
            background: #B4B4B4;
            border: 1px dotted;
            box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
        }
    }
    .seeMore{
        background: $left;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
        color: white;
    }
    .seeMore:hover{
        background: #2629CC;
        border: 1px dotted #4C2F99;
        box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
    }
    .own:hover{
        border: 1px dotted #FFFFFF;
    }
    .theme-list{
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
        .theme{
            background: #CCCCCC;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
        .theme:hover{
            color:white;
            background: #2E32FB;
        }
        
    }
    .content{
        .box, .largeBox{
            background: #B4B4B4;
            box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
        }
    }
}